* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
    margin: 44px 0 70px 76px;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29.25px;
    color: rgba(152, 157, 156, 1);
    cursor: pointer;
    margin: right 25px;

}

.button-header{
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color:  #ffffff;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
    background: rgba(173, 255, 0, 1);
    border-radius: 30px;
    width: 239px;
    height: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 35px;
    line-height: 34px;
    color: #000000;
}
@media screen and (max-width: 790px){
    div {
        width: 100%;
        height: 50vh;
        padding: 0;
        margin: 0;
    }
    header {
        display: block;
        display: none;
        padding: 60px;
        margin: auto;
    }
    img {
        width: 385px;
        height: 442px;
        margin-top: 150px;
        margin-right: 80px;
        margin-bottom: 50px;
        margin-left: 59px;


    }
    selection {
        padding: 100vh;
        margin: 50px;

    }
    h1 {
        font-size: 55px;
        line-height: 50px;
        width: 263px;
        height: 52px;
        text-align: center;
        margin: 24.5px 79px 17px 150px; 
    }
       
    h2 {
        font-size: 30px;
        line-height: 37px;
        width: 232px;
        height: 37px;
        text-align: center;
        margin: 13px 19px 23px 164px; 
    }
    p {
        display: none;
    }
    
    .button-main {
        margin: 0 auto;
        margin-right: 64px;
        display: block;
        width: 239px;
        height: 70px;
        border-radius: 35px;
        color: rgba(172,255,0, 1);
        width: 305px;
        height: 71px;
        top: 15px;
        left: 46px;
        color:rgba(0, 0, 0, 1);
    }

    
}