* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
    margin: 44px 0 70px 76px;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29.25px;
    color: rgba(152, 157, 156, 1);
    cursor: pointer;
    margin: right 25px;

}

.button-header{
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color:  #ffffff;
}



.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
    background: rgba(173, 255, 0, 1);
    border-radius: 30px;
    width: 239px;
    height: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 35px;
    line-height: 34px;
    color: #000000;

}